* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    background: #f1f1f1;
}

img {
    max-width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem 1rem;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
    color: #4e4e4e;
    font-size: .8rem;
}

input:disabled,
button:disabled {
    cursor: not-allowed !important;
    opacity: .7;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.label-default {
    background-color: #777;
}

.label-primary {
    background-color: #337ab7;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}


.badge {
    padding: 3px 5px;
    font-size: 10px;
    line-height: 1.1;
    border-radius: 10rem;
}

.badge-default {
    background-color: #777;
}

.badge-primary {
    background-color: #337ab7;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-danger {
    background-color: #d9534f;
}













/**
 * datatable
 */
.rty .dataTables_wrapper .dataTables_length label, 
.rty .dataTables_wrapper .dataTables_filter label {
    margin-bottom: 5px;
    font-size: .9rem;
}

.rty .dataTables_wrapper .dataTables_length select, 
.rty .dataTables_wrapper .dataTables_filter input {
    outline: none;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

.rty table thead th {
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    background: #fa9a21;
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.1;
    cursor: default !important;
    border-right: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6 !important;
}

.rty table tbody td {
    border: 1px solid #dee2e6;
    padding: 0.3rem;
    font-size: .8rem;
    line-height: 1.1;
    vertical-align: middle;
}

.rty table tbody tr td:last-child {
    text-align: center;
}

.rty table tbody td button {
    border: none;
    color: #fff;
    width: 30px;
    margin: 1px;
    padding: 5px 7px;
    background: #fa9a21;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    text-decoration: none;
}

.rty .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 5px;
}

.rty .dataTables_paginate .paginate_button.previous:before {
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.rty .dataTables_paginate .paginate_button.next:after {
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.rty .dataTables_paginate .paginate_button.disabled {
    background: none;
    color: #333 !important;
    opacity: .7;
    border: none;
    cursor: not-allowed !important;
}

.rty .dataTables_paginate .paginate_button:hover, 
.rty .dataTables_paginate .paginate_button.current, 
.rty .dataTables_paginate .paginate_button.current:hover {
    background: #fa9a21;
    color: #fff !important;
    border-color: #fa9a21;
}













/**
 * modal
 */
.modal .modal-header h5 {
    margin: 0;
}

.modal .modal-header button.close {
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 1.1;
    color: #f00;
}

.modal .modal-header button.close:hover {
    transform: scale(1.1);
}













/**
 * main
 */
body.rty {
    display: block;
    padding: 2rem 2rem 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 25px -7px rgb(0 0 0 / 50%);
}

main .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

main .topbar .logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .topbar .mobile-menu {
    display: none;
    color: #232323;
    border: none;
    background: none;
    outline: none;
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 10px;
}

main.show-menu .topbar .mobile-menu i.fa,
main .topbar .mobile-menu:hover i.fa {
    color: #fa9a21;
}

main .topbar .logo {
    margin: 0;
    position: relative;
    color: #ff8f00;
    font-weight: 700;
    text-shadow: 0px 0px 1px #000;
}

main .topbar .logo span:last-child {
    position: absolute;
    bottom: -5px;
    left: 50px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #212529;
}

main .topbar .info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
}

main .topbar .info p {
    margin: 0;
}

main .topbar .info .profile-img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 100%;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

main .body .sidebar {
    flex: 0 0 4%;
    height: 100%;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

main.show-menu .body .sidebar {
    flex: 1 1 50px;
    width: 50px;
}

main .body .sidebar .nav {
    padding: 1rem 0;
}

main .body .sidebar .nav li {
    width: 100%;
    padding: 10px 0;
}

main .body .sidebar .nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    color: #212529;
    text-decoration: none;
}

main .body .sidebar .nav a.active {
    color: #ff8f00;
    border-right: 2px solid #ff8f00;
}

main .body .sidebar .nav a > i.fa {
    font-size: 2rem;
    line-height: 1.1;
}

main .body .sidebar .nav a > span {
    font-size: .8rem;
    line-height: 1.1;
    margin-top: -3px;
}

main .body .content {
    flex: 1 1 100%;
    background: #f1f1f1;
    width: 100%;
    height: 84vh;
    border-radius: 0 0 1rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    box-shadow: inset 10px 10px 35px -25px rgb(0 0 0 / 20%);
}













/**
 * dashboard
 */
main .content .ticket-statuses {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

main .content .ticket-statuses > .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 1.5rem 1rem;
    border-right: 3px solid #f1f1f1;
    border-bottom: 3px solid #0d6efd;
}

main .content .ticket-statuses > .panel:last-child {
    border: none;
}

main .content .ticket-statuses > .panel:hover {
    transform: scale(1.2);
    border: none !important;
    border-radius: 0.5rem;
    box-shadow: 0 0 25px -7px rgb(13 110 253);
    transition: all ease-in-out .5s;
}

main .content .ticket-statuses > .panel:nth-child(2) {
    border-bottom: 3px solid #0dcaf0;
}

main .content .ticket-statuses > .panel:nth-child(3) {
    border-bottom: 3px solid #ffc107;
}

main .content .ticket-statuses > .panel:last-child {
    border-bottom: 3px solid #198754;
}

main .content .ticket-statuses > .panel:hover:nth-child(2) {
    box-shadow: 0 0 25px -7px rgb(13 202 240);
}

main .content .ticket-statuses > .panel:hover:nth-child(3) {
    box-shadow: 0 0 25px -7px rgb(255 193 7);
}

main .content .ticket-statuses > .panel:hover:last-child {
    box-shadow: 0 0 25px -7px rgb(25 135 84);
}

main .content .ticket-statuses > .panel h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}

main .content .ticket-statuses > .panel p {
    line-height: 1.1;
    margin: 0;
}

main .content .wrapper {
    background: #fff;
    padding: 1rem;
    min-height: 50%;
    border-radius: 0.5rem;
}

main .content .wrapper #tblIssues tbody tr td:first-child,
main .content .wrapper #tblIssues tbody tr td:nth-child(6),
main .content .wrapper #tblIssues tbody tr td:nth-child(7),
main .content .wrapper #tblIssues tbody tr td:nth-child(8) {
    text-align: center;
}

main .content .wrapper #tblIssues tbody tr td > a {
    text-decoration: none;
    font-weight: 700;
}

main .content .wrapper #tblIssues tbody tr td > a:hover {
    font-size: 1rem;
}


.rty  #resolved-modal .modal-body .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.rty  #resolved-modal .modal-body .content .table-group {
    flex: 1 1 48%;
    width: 48%;
}

.rty  #resolved-modal .modal-body .content .table-group table tbody tr td:nth-child(2) {
    text-align: left;
    word-break: break-all;
}

.rty  #resolved-modal .modal-body .content .form-holder {
    flex: 1 1 48%;
    width: 48%;
    margin-left: 0.5rem;
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    border-radius: 5px;
}

.rty  #resolved-modal .modal-body .content .form-holder form .form-group {
    margin-bottom: 1rem;
}












/**
 * ticket details
 */
.ticket-details-wrapper .ticket-header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

.ticket-details-wrapper .ticket-header h3 {
    margin: 0;
    line-height: 1.1;
}

.ticket-details-wrapper .ticket-header p {
    font-size: .9rem;
    line-height: 1.1;
    margin: 0;
}

.ticket-details-wrapper .ticket-header .selection-wrapper {
    margin-top: 1rem;
}

.ticket-details-wrapper .ticket-header .selection-wrapper .form-group {
    margin-top: .5rem;
}

.ticket-details-wrapper .ticket-body {
    height: 58vh;
    overflow-x: auto;
    margin-top: 2rem;
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

.ticket-details-wrapper .ticket-body .tab-content {
    padding: 1rem;
}

.ticket-details-wrapper .ticket-body .tab-pane table tbody tr td:last-child {
    text-align: left;
}

.ticket-details-wrapper .ticket-body .details-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.ticket-details-wrapper .ticket-body .notes-wrapper {
    padding: 1rem;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.ticket-details-wrapper .ticket-body .notes-wrapper h3 {
    font-size: 1.1rem;
    font-weight: 700;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.ticket-details-wrapper .ticket-body .notes-wrapper .notes-holder {
    min-height: 10px;
    max-height: 400px;
    overflow-y: auto;
    padding: 0 0.5rem 0.5rem;
}

.ticket-details-wrapper .ticket-body .notes-wrapper .notes {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.ticket-details-wrapper .ticket-body .notes-wrapper .notes p {
    margin-bottom: 0;
    line-height: 1.2;
}

.ticket-details-wrapper .ticket-body .notes-wrapper .notes p.details {
    margin-bottom: 5px;
}

.ticket-details-wrapper .ticket-body .notes-wrapper .notes p.details span {
    font-size: .8rem;
    font-style: italic;
    color: #7c7c7c;
}

.ticket-details-wrapper .ticket-body .notes-wrapper form {
    margin-top: .5rem;
}

.ticket-details-wrapper .ticket-body .notes-wrapper form textarea {
    display: block;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.ticket-details-wrapper .ticket-body .notes-wrapper form .button-group {
    margin-top: 5px;
    text-align: right;
}

.ticket-details-wrapper .ticket-body .notes-wrapper form .button-group button {
    border: none;
    color: #fff;
    padding: 5px 7px;
    background: #fa9a21;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    text-decoration: none;
}

.ticket-details-wrapper .ticket-body .notes-wrapper form .button-group button:last-child {
    background: #a2a2a2;
}

.ticket-details-wrapper .ticket-body .rty-card {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.ticket-details-wrapper .ticket-body .rty-card h3 {
    font-size: 1.1rem;
    font-weight: 700;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.ticket-details-wrapper .ticket-body .rty-card form .form-group {
    margin-bottom: 1rem;
}

.ticket-details-wrapper .ticket-body .rty-card form .button-group {
    margin-top: 5px;
    text-align: right;
}

.ticket-details-wrapper .ticket-body .rty-card form .button-group button {
    border: none;
    color: #fff;
    padding: 5px 7px;
    background: #fa9a21;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    text-decoration: none;
}

.ticket-details-wrapper .ticket-body .rty-card form .button-group button:last-child {
    background: #a2a2a2;
}

.ticket-details-wrapper .ticket-body .tab-content #logs p, 
.ticket-details-wrapper .ticket-body .tab-content #analysis p {
    display: block;
    width: 100%;
    background: #f1f1f1;
    padding: 0.5rem;
    border-radius: 10px;
    line-height: 1.2;
    margin-left: 1rem;
    position: relative;
}

.ticket-details-wrapper .ticket-body .tab-content #logs p:before, 
.ticket-details-wrapper .ticket-body .tab-content #analysis p:before {
    content: '';
    width: 2px;
    height: 77px;
    background: #f1f1f1;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.ticket-details-wrapper .ticket-body .tab-content #logs p:first-child:before, 
.ticket-details-wrapper .ticket-body .tab-content #analysis p:first-child:before {
    content: '';
    width: 2px;
    height: 30px;
    background: #f1f1f1;
    position: absolute;
    left: -10px;
    top: unset;
    bottom: -4px;
    transform: unset;
}

.ticket-details-wrapper .ticket-body .tab-content #logs p:first-child:before, 
.ticket-details-wrapper .ticket-body .tab-content #analysis p:first-child:before {
    content: '';
    width: 2px;
    height: 30px;
    background: #f1f1f1;
    position: absolute;
    left: -10px;
    top: unset;
    bottom: -4px;
    transform: unset;
}

.ticket-details-wrapper .ticket-body .tab-content #logs p:last-child:before, 
.ticket-details-wrapper .ticket-body .tab-content #analysis p:last-child:before {
    content: '';
    width: 2px;
    height: 30px;
    background: #f1f1f1;
    position: absolute;
    left: -10px;
    top: -4px;
    transform: unset;
}

.ticket-details-wrapper .ticket-body .tab-content #logs p:after, 
.ticket-details-wrapper .ticket-body .tab-content #analysis p:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #f1f1f1;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.ticket-details-wrapper .ticket-body .tab-content #logs p span:last-child, 
.ticket-details-wrapper .ticket-body .tab-content #analysis p span:last-child {
    display: block;
    font-size: .8rem;
    font-style: italic;
    color: #fa9a21;
}












/**
 * reports
 */
.reports .graph-wrapper {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.reports .graph-wrapper canvas {
    width: 100% !important;
}

.reports .number-wrapper {
    margin-top: 1rem;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.reports .number-wrapper table {
    width: 100%;
}

.reports .number-wrapper table thead tr th {
    font-size: 1rem;
    padding: .5rem;
}

.reports .number-wrapper table tbody tr td {
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
}

.reports .number-wrapper table tbody tr td:first-child {
    text-align: left;
}

.reports .data-wrapper {
    margin-top: 3rem;
}

.reports .data-wrapper .filter-wrapper {
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
}

.reports .data-wrapper .filter-wrapper form .input-group {
    justify-content: space-between;
}

.reports .data-wrapper .filter-wrapper form .input-group .form-group {
    flex: 1 1 20%;
    width: 20%;
    padding: 0 .5rem;
}

.reports .data-wrapper .filter-wrapper form .input-group .form-group:first-child {
    padding-left: 0;
}

.reports .data-wrapper .filter-wrapper form .input-group .form-group:last-child {
    padding-right: 0;
}

.reports .data-wrapper .filter-wrapper form label {
    display: block;
    line-height: 1.1;
}

.reports .data-wrapper .filter-wrapper form input,
.reports .data-wrapper .filter-wrapper form select {
    display: block;
    width: 100%;
    outline: none;
    padding: 3px 5px;
    border: 1px solid #212529;
    border-radius: 5px;
}

.reports .data-wrapper .filter-wrapper form .button-group {
    margin-top: 1rem;
    text-align: center;
}

.reports .data-wrapper .filter-wrapper form .button-group button {
    background: #fa9a21;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.reports .data-wrapper .filter-wrapper form .button-group button:hover {
    background: #f27900;
}

.reports .data-wrapper .tbl-wrapper {
    margin-top: 1rem;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.reports .data-wrapper .tbl-wrapper table tbody tr td:first-child,
.reports .data-wrapper .tbl-wrapper table tbody tr td:nth-child(7),
.reports .data-wrapper .tbl-wrapper table tbody tr td:nth-child(8) {
    text-align: center;
}

.reports .data-wrapper .tbl-wrapper table tbody tr td > a {
    text-decoration: none;
    font-weight: 700;
}

.reports .data-wrapper .tbl-wrapper table tbody tr td > a:hover {
    font-size: 1rem;
}




.email-attachment-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}

.email-attachment-wrapper #frmUpload {
    position: relative;
    margin: 0 auto;
    margin-top: 1rem;
    width: 90%;
    height: 150px;
    border: 4px dashed #bababa;
    margin-bottom: 5rem;
    text-align: center;
}

.email-attachment-wrapper #frmUpload input[type=file] {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    left: 0;
    cursor: pointer;
}

.email-attachment-wrapper #frmUpload p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 150px;
    color: #606060;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-attachment-wrapper #frmUpload button {
    outline: none;
    border: none;
    background: #fa9a21;
    color: #fff;
    padding: 5px 1rem;
    cursor: pointer;
}

.email-attachment-wrapper #frmUpload button:hover {
    background: #f27900;
}











/**
 * responsive
 */
@media only screen and (max-width:  1024px) {
    main .topbar {
        padding: .5rem;
    }

    main .topbar .logo {
        font-size: 1.7rem;
    }

    main .topbar .logo span:last-child {
        font-size: 1.3rem;
        left: 75px;
    }

    main .body .sidebar .nav a > i.fa {
        font-size: 1.7rem;
    }

    main .content .ticket-statuses {
        width: 100%;
        padding-top: 0;
    }
    
    main .content .ticket-statuses > .panel {
        padding: 1rem;
    }

    main .content .ticket-statuses > .panel h1 {
        font-size: 2.5rem;
    }

    .ticket-details-wrapper .ticket-body .details-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .reports .number-wrapper table tbody tr td {
        font-size: .9rem;
        padding: 5px;
    }

    .reports .data-wrapper .filter-wrapper form .input-group .form-group {
        padding: 0 0.3rem;
    }

    .reports .data-wrapper .filter-wrapper form label {
        font-size: .8rem;
    }

    .reports .data-wrapper .filter-wrapper form input, 
    .reports .data-wrapper .filter-wrapper form select {
        font-size: .8rem;
    }

    .reports .data-wrapper .filter-wrapper form .button-group button {
        font-size: .9rem;
        padding: 3px 5px;
    }
}





@media only screen and (max-width: 768px) {
    body.rty {
        padding: 1rem 1rem 2.5rem;
    }
    
    main .topbar .logo {
        font-size: 1.5rem;
    }

    main .topbar .logo span:last-child {
        font-size: 1.2rem;
        left: 68px;
    }

    main .body .sidebar .nav a > i.fa {
        font-size: 1.5rem;
    }

    main .body .sidebar .nav a > span {
        font-size: .7rem;
    }

    main .content .ticket-statuses > .panel {
        padding: 0.5rem;
    }

    main .content .ticket-statuses > .panel h1 {
        font-size: 2rem;
    }

    main .content .ticket-statuses > .panel p {
        font-size: .8rem;
    }

    .rty table thead th {
        padding: 0.3rem;
        font-size: .8rem;
    }

    .rty table tbody td {
        font-size: .7rem;
        padding: 3px;
    }

    .rty table tbody td button {
        width: 25px;
        padding: 5px;
    }

    .rty #resolved-modal .modal-body .content {
        flex-direction: column;
    }

    .rty #resolved-modal .modal-body .content .table-group {
        flex: 1 1 100%;
        width: 100%;
    }

    .rty #resolved-modal .modal-body .content .form-holder {
        flex: 1 1 100%;
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    .rty #resolved-modal .modal-body .content .form-holder > h4 {
        font-size: 1.2rem;
    }

    .rty #resolved-modal .modal-body .content .form-holder form label {
        font-size: .9rem;
    }

    .rty #resolved-modal .modal-body .content .form-holder form .form-control {
        font-size: .9rem;
        padding: 5px;
        line-height: 1.1;
    }

    .rty #resolved-modal .modal-body .content .form-holder form button {
        font-size: .9rem;
        line-height: 1.1;
        padding: 7px;
    }

    .ticket-details-wrapper .ticket-body .details-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 1rem 0;
    }

    .reports .number-wrapper table thead tr th {
        font-size: .9rem;
        padding: 5px;
    }

    .reports .number-wrapper table tbody tr td {
        font-size: .8rem;
        padding: 3px;
    }

    .reports .data-wrapper .filter-wrapper form .input-group .form-group {
        flex: unset;
        width: auto;
    }
}





@media only screen and (max-width: 426px) {
    main .topbar .mobile-menu {
        display: block;
    }

    main .topbar .logo {
        font-size: 1.3rem;
    }

    main .topbar .logo span:last-child {
        font-size: 1rem;
        left: 60px;
        bottom: 0;
    }

    main .topbar .info p {
        font-size: .8rem;
    }

    main .topbar .info .profile-img {
        width: 30px;
        height: 30px;
    }

    main .body .sidebar {
        flex: 0;
        width: 0;
    }

    main .content .ticket-statuses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    .rty .modal .modal-header {
        padding: .5rem;
    }

    .modal .modal-header h5 {
        font-size: 1rem;
    }

    .rty #resolved-modal .modal-body .content .form-holder > h4 {
        font-size: 1rem;
    }

    .rty #resolved-modal .modal-body .content .form-holder form .form-group {
        margin-bottom: 0.5rem;
    }

    .rty #resolved-modal .modal-body .content .form-holder form label {
        font-size: .8rem;
    }

    .rty #resolved-modal .modal-body .content .form-holder form .form-control {
        font-size: .8rem;
    }

    .rty #resolved-modal .modal-body .content .form-holder form button {
        font-size: .8rem;
        padding: 5px;
    }

    .ticket-details-wrapper .ticket-header h3 {
        font-size: 1.2rem;
    }

    .ticket-details-wrapper .ticket-header p {
        font-size: .7rem;
    }

    .ticket-details-wrapper .ticket-header .selection-wrapper label,
    .ticket-details-wrapper .ticket-header .selection-wrapper select {
        font-size: .8rem;
        line-height: 1.1;
    }

    .nav-tabs .nav-link {
        font-size: .8rem;
        padding: 3px 5px;
    }

    .ticket-details-wrapper .ticket-body .tab-content {
        padding: 1rem 0;
    }

    .ticket-details-wrapper .ticket-body .details-wrapper .table-wrapper table tr:first-child th {
        font-size: 17px !important;
        line-height: 1.1;
    }

    .ticket-details-wrapper .ticket-body .details-wrapper .table-wrapper table tr td {
        word-break: break-all;
    }

    .ticket-details-wrapper .ticket-body .notes-wrapper {
        padding: .5rem;
    }

    .ticket-details-wrapper .ticket-body .notes-wrapper h3 {
        font-size: 1rem;
        padding: 5px 7px;
    }

    .ticket-details-wrapper .ticket-body .notes-wrapper .notes p {
        font-size: .9rem;
    }

    .ticket-details-wrapper .ticket-body .notes-wrapper .notes p.details span {
        font-size: .6rem;
    }

    .ticket-details-wrapper .ticket-body .notes-wrapper .notes p.details span i.fa {
        font-size: 7px;
    }

    .ticket-details-wrapper .ticket-body .notes-wrapper form textarea {
        height: 75px;
    }
    
    .ticket-details-wrapper .ticket-body .notes-wrapper form .button-group button {
        font-size: .8rem;
        padding: 3px 5px;
    }

    .ticket-details-wrapper .ticket-body .form-wrapper .card-body {
        padding: .5rem;
    }

    .ticket-details-wrapper .ticket-body .form-wrapper h3 {
        font-size: 1rem;
        padding: 5px 7px;
    }

    .ticket-details-wrapper .ticket-body .form-wrapper form .form-group {
        margin-bottom: 0.5rem;
    }

    .ticket-details-wrapper .ticket-body .form-wrapper form label {
        font-size: .8rem;
    }

    .ticket-details-wrapper .ticket-body .form-wrapper form .form-control {
        font-size: .8rem;
    }

    .ticket-details-wrapper .ticket-body .form-wrapper form button {
        font-size: .8rem;
        padding: 5px;
    }

    .ticket-details-wrapper .ticket-body .tab-content #logs p, 
    .ticket-details-wrapper .ticket-body .tab-content #analysis p {
        font-size: .8rem;
        width: auto;
    }

    .ticket-details-wrapper .ticket-body .tab-content #logs p span:last-child, 
    .ticket-details-wrapper .ticket-body .tab-content #analysis p span:last-child {
        font-size: .6rem;
    }

    .ticket-details-wrapper .ticket-body .tab-content #logs p:first-child:before, 
    .ticket-details-wrapper .ticket-body .tab-content #analysis p:first-child:before {
        bottom: -8px;
    }

    .reports .data-wrapper .filter-wrapper form .input-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }

    .reports .data-wrapper .filter-wrapper form .input-group .form-group {
        padding: 0;
    }
}





@media only screen and (max-width: 375px) {
    main .content .ticket-statuses > .panel h1 {
        font-size: 1.5rem;
    }
}





@media only screen and (max-width: 320px) {
    main .topbar .logo {
        font-size: 1rem;
    }

    main .topbar .logo span:last-child {
        font-size: .8rem;
        left: 45px;
    }

    main .topbar .info p {
        font-size: .7rem;
    }

    .nav-tabs .nav-link {
        font-size: .7rem;
        padding: 3px;
    }
}